{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('styles') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script>
        {% if repLogAppProps is defined %}
            window.REP_LOG_APP_PROPS = {{ repLogAppProps|json_encode|raw }};
            console.log(window.REP_LOG_APP_PROPS);
        {% endif %}
    </script>

    {{ encore_entry_script_tags('app') }}
{% endblock %}