body {
    background-color: #E6E2E6;
    color: #000;
    font-family: 'Akzidenz-grotesk';
}

.container-fluid {
    padding: 0;
}

.header {
    background-color: #00A69D;
    height: auto;
    color: #eee;
    padding-top: 30px;
    padding-bottom: 20px;
}

#content {
    padding: 50px 150px;
    line-height: 1.6;
}

#content h1 {
    color: #00A69D;
    margin-bottom: 20px;
}

.center {
    display: block;
    margin: auto;
}

.text-bold {
    font-weight: bold;
}

.text-light {
    color: #00A69D !important;
}

.align-justify {
    text-align: justify;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px 15px;
    display: block;
}

@media only screen and (max-width: 767px) {

    #header-content {
        display: block;
        margin: 10px auto;
    }

    #header-content h1 {
        text-align: center;
    }

    li {
        display: none;
    }
}

@font-face {
    font-family: 'Akzidenz-grotesk';
    src: url('/public/build/fonts/Akzidenz-grotesk-light.ttf') format('truetype');
}
